*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: black;
  box-sizing: border-box;
}
