.table-container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 20px;
  max-width: 95vw;
}

.item {
  font-size: 1.2vw;
}

.item.item1 {
  border-right: 2px dashed #29abe2;
  border-bottom: 2px dashed #29abe2;
  text-align: left;
}

.item.item2 {
  border-bottom: 2px dashed #29abe2;
}

.item.item3 {
  border-right: 2px dashed #29abe2;
  text-align: left;
}
