.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 2% 0 0 2% auto;
  border: 3px dashed #29abe2;
  border-radius: 30%;
  padding: 7rem;
  width: 70vw;
  text-align: center;
}
